body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #e85252;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.text-box a {
    background-color: #e85252;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #f1dd87, #f19f9f);
}

.image-box {
    flex: 1;
    background: linear-gradient(to right, #f1dd87, #f19f9f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    flex: 1;
    padding: 20px;
    padding-top: 300PX;
    /* background-color: #e5e48d; */
    /* background: linear-gradient(to right, #f1dd87, #f19f9f); */
}

.img1 {
    max-width: 100%;
    max-height: 100%;
}

.container1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    /* background-color: #f2f2f2; */
    background: linear-gradient(to right, #f1dd87, #f19f9f);
}

.image-box1 {
    flex: 1;
    /* background-color: #fff; */
    background: linear-gradient(to right, #f1dd87, #f19f9f);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-box1 {
    flex: 1;
    /* padding: 40px; */
    padding-top: 300PX;
    color: #333;
}

img {
    max-width: 45%;
    max-height: 45%;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.paragraph {
    line-height: 1.5;
    margin-bottom: 20px;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}